.cards {
  display: grid;
  grid-template-columns: 596px 596px;
  column-gap: 8px;
  row-gap: 8px;
 
  .card {
    position: relative;
    border-radius: 32px 32px 64px 64px;
    &__content {
        margin-top: 104px;
        border-radius: 32px;
        padding: 40px;
        background: var(--bg-color);
    }
    &__top {
        display: flex;
        justify-content: space-between;
    }
    &__title {
        font-family: var(--font-family);
        font-weight: 700;
        font-size: 32px;
        line-height: 104%;
        color: #101010;
    }
    &__img {
        max-height: 100%;
        max-width: 100%;
        object-fit: cover;
        position: absolute;
        z-index: -1;
        border-radius: 32px 32px 0px 0px;
    }
    &__descr {
        margin-top: 16px;
        padding: 0 105px 0 0;
        font-weight: 400;
        font-size: 14px;
        line-height: 140%;
        color: rgba(16, 16, 16, .8);;
    }
    &__tags {
        margin-top: 40px;
    }
    &__tag {
        display: inline-block;
        font-family: var(--font-family);
        font-weight: 700;
        font-size: 14px;
        line-height: 104%;
        color: var(--bg-color);
        background: #f47616;
        border-radius: 50px;
        padding: 10px 24px 12px 24px;
        &_circle {
            padding: 10px 13px 12px 13px;
        }
        &_green {
            background: #02cc89;
        } 
        &_purple {
            background: #6549d4;
        }
      
    }  
    &__link {
        border-radius: 50px;
        padding: 8px;
        width: 40px;
        height: 40px;
        background: #d5e2fc;
        display: flex;
        align-items:center;
        justify-content: center;
        transition: all .3s ease-in-out;
        &:hover {
            background: #d5e2fc55;
        }
    }
    &__date {
    font-family: var(--second-family);
    font-weight: 600;
    font-size: 14px;
    line-height: 140%;
    color: rgba(16, 16, 16, .5);
    margin-bottom: 12px;
    }
    &_orange { 
        background: linear-gradient(225deg, #f47616 0%, #d03916 100%);
        .card__tag {
            background:#f47616; 
        }
    }
    &_orangegrd {
        background: linear-gradient(217deg, rgb(203, 94, 5) 0%, rgb(238, 84, 23) 52%, rgba(239, 149, 58, 0.9) 100%);
    }
    &_orangeyell {
        background:linear-gradient(217deg, rgba(218,222,57,1) 0%, rgba(204,36,36,1) 49%, rgba(190,83,25,1) 100%);
    }
    &_green {
        background: linear-gradient(225deg, #5ce1a9 0%, #00ce88 51.04%, #008973 100%);
        .card__tag {
            background: #02cc89; 
        }
    } 
    &_darkgreen {
        background: url('../img/card_darkgreen.png') no-repeat  center / cover;
    }
    &_lightgreen {
        background: url('../img/card_lightgreen.png') no-repeat  center / cover;
    } 
    &__more {
        margin-top: 17px;
        font-family: var(--font-family);
        font-weight: 700;
        font-size: 16px;
        line-height: 100%;
        color: rgb(20, 92, 239, .8);
        transition: all .3s ease-in-out;
        display: flex;
        gap: 8px;
        &:hover {
            color: var(--hover-color);
        }
    }
    &__author {
        margin-top: 40px;
        font-family: var(--font-family);
        font-weight: 700;
        font-size: 18px;
        line-height: 120%;
        color: var(--main-color);
    }
    &__position {
        margin-top: 4px;
        font-family: var(--second-family);
        font-weight: 600;
        font-size: 14px;
        line-height: 140%;
        color: rgb(16, 16, 16, .5);
    } 
    &__contacts {
        margin-top: 32px;
        a {
            display: block;
        }
        
    }
    &__phone {
        font-family: var(--font-family);
        font-weight: 700;
        font-size: 16px;
        line-height: 100%;
        color:var(--main-color);
    }
    &__email {
        margin-top: 7px;
        font-family: var(--second-family);
        font-weight: 600;
        font-size: 16px;
        line-height: 140%;
        color: rgb(16, 16, 16,.5);    
    }
  } 
  &_394, &_596,  &_294 {
    margin-top: 40px;
    grid-template-columns: repeat(3, 394px);
       .card {
        z-index: 1; 
        border-radius: 32px;
       
       }
        .card__title {
        font-size: 18px;
        line-height: 120%;
        }
        .card__content {
            margin-top: 220px;
            position: relative;

        }
        .card__tag {
            position: absolute;
            top: 16px;
            left: 16px; 
            padding: 8px 20px 10px 20px;
           
        }
        .card__descr {
            font-size: 18px;
            padding: 0;
        }
        .card__authors {
            position: absolute;
            bottom: 40px;
        
        }
    } 
    &_596 {
        grid-template-columns: 596px 596px;
        .card__descr {
            margin-top: 0;
        }
        .card__content {
            margin-top: 265px;
            height: 360px;
            padding: 39px;
        }
    }
    &_294 {
        grid-template-columns: repeat(4,294px);
        .card__content {
            margin-top: 152px;
            position: relative;
           
        }
        .card__tag {
            top: -60px;
        }
    }
}
