.footer {
position: relative;
padding: 80px 120px 88px 120px;
background: linear-gradient(135deg, #1c274a 0%, #040711 100%); 
a {
    transition: all .3s ease-in-out;
}
&__top {
    display: flex;
    justify-content: space-between;
}
&__divider {
    width: 100%;
    height: 1px;
    background: rgba(255, 255, 255, 0.15);
    margin-top: 48px;
}
&__adress {
    div {
        font-family: var(--font-family);
        font-weight: 700;
        font-size: 18px;
        line-height: 120%;
        color: var(--bg-color)
    }
    color: rgba(252, 252, 252, .7);
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    
    &:hover {
        color: #fcfcfc;
    }
}
&__contacts {
    a {
        display: block;
    }
}
&__email {
font-family: var(--second-family);
font-weight: 400;
font-size: 16px;
line-height: 140%;
text-align: right;
color: rgba(252, 252, 252, .7);
}
&__phone {
font-family: var(--font-family);
font-weight: 700;
font-size: 22px;
line-height: 116%;
color: var(--bg-color); 
&:hover {
    color: rgb(252, 252, 252,.7);
}
}
&__midle {
    margin-top: 48px;
    display: flex;
    justify-content: space-between;
    &-title {
        font-family: var(--font-family);
        font-weight: 700;
        font-size: 18px;
        line-height: 120%;
        color: var(--bg-color);
        margin-bottom: 6px;
    }
}
&__menu {
  
    display: flex;
    gap: 150px;
    &-items {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    &-link {
        display: block;
        margin-bottom: 10px;;
        font-family: var(--second-family);
        font-weight: 400;
        font-size: 14px;
        line-height: 140%;
        color: rgba(252, 252, 252, .7);
        &:hover {
            color: var(--bg-color);
        }
        &_bold {
            font-family: var(--font-family);
            font-weight: 700;
            font-size: 18px;
            line-height: 120%;
            color:var(--bg-color);
            &:hover {
                color: rgba(252, 252, 252, .7);
            }
          
        }
      
    } 
   
} 
&__cases {
    margin-left: 70px;
      .footer__menu-link_bold {
        margin-top: 24px;
      }    
      .footer__menu-link {
        margin-bottom: 15px;
      }
}
&__holding {
    .footer__menu-link_bold {
        margin-bottom: 24px;
       
      }    
}
&__socblock {
    &-text {
        font-family: var(--second-family);
        font-weight: 400;
        font-size: 14px;
        line-height: 140%;
        text-align: right;
        color: rgb(252, 252, 252,.7);
    }
    &-email {
        font-family: var(--font-family);
        font-weight: 700;
        font-size: 18px;
        line-height: 120%;
        text-align: right;
        color:var(--bg-color);
        display: block;
        margin-top: 4px;
        &:hover {
            color: rgb(252, 252, 252,.7);
        }
    }

}
&__social {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    max-width: 134px;
    justify-content: end;
    margin-left: auto;
    
    &-link {
        border-radius: 50px;
        padding: 9px;
        width: 44px;
        height: 44px;
        display: flex;
        justify-content: center;
        align-items:center;
        background: rgba(252, 252, 252, .1);
        &:hover {
                background: darken(#fcfcfc1a, 50%)
        }
    }
}
&__bottom {
    margin-top: 48px;
    display: grid;
    grid-template-columns:  auto auto;
   
    justify-content: space-between;
    column-gap: 76px;
    row-gap: 20px;
}
&__policy, &__madein {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: rgb(252, 252, 252, .7);
   
    
}
&__madein {
    margin-top: 40px;
}
&__bottom-right {
    .footer__madein {
        margin-top: 20px;
    }
}

}