
.one_bg, .two_bg, .three_bg, .four_bg {
    position: absolute;
    filter: blur(15px);
}
.rectangle {
    position:  absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 64px;
    border-radius: 0px 0px 64px 64px;
    
    &_blue {
        background: #01071dfb;
    }
    &_gray {
        background: #dcdde0;
    } 
    &_cases {
        background: #ededed;
    }
    &_media {
        background: linear-gradient(135deg, #1c274a 0%, #040711 100%);
        
    }
    &_motivation {
        background: linear-gradient(135deg, #1c274a 0%, #040711 100%);
        top: -64px;
        border-radius: 64px 64px 0px 0px;
    }
    &_consultaion {
        background: #145cef;
        top: -64px;
        border-radius: 64px 64px 0px 0px;
    }
    &_feedback {
        background: linear-gradient(135deg, #1c274a 0%, #040711 100%);
    }
}