.teams, .holding {
  
    padding: 160px 0 160px 0;
    background: #dcdde0;
    position: relative;
    &__slider {
        display: flex;
        justify-content: center;
        margin-top: 24px;
        position: relative;
       
        &-wrapper {
            position: relative;
        }
        &-btn {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            &_left {
                left: -100px;
            }
            &_right {
                right: -100px;
            }
        }
    }
    &__title {
        margin-top: 80px;
    }
   
    .card__img {
        z-index: 1;
    } 
    .cards__tag {
        display: flex;
        gap: 8px;
        position: absolute;
        z-index: 2;
        top: 240px;
    }
    #slider-teams {
        .card {
            width: 394px;
        }
    }
    #slider-holding {
       .card {
        width: 294px;
       }
        .cards__tag {
           
            top: 250px;
        }
    } 
    .card__tag {
     position: relative;
    }
    .card__title {
        font-size: 22px;
    }
   
    .card__content {
        padding: 120px 18px 32px 18px;
    }
    .card__descr {
        font-size: 14px;
    }
}